@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<CategoryDTO>

<h1>Categories</h1>
<br /><hr />
<a asp-action="Create" asp-controller="Category" class="btn btn-primary mb-3 mt-2">Add Category</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.Name</td>
                <td><a asp-action="Update" asp-controller="Category" asp-route-id="@item.CategoryID" class="btn btn-warning">Update</a></td>
                <td><a asp-action="Delete" asp-controller="Category" asp-route-id="@item.CategoryID" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

